.customUpload {
    display: block;

    .ant-upload-select {
        display: block;

        .ant-btn {
            display: block;
            width: 100%;
            padding: 50px;
        }
    }
}