.custom-item {
  margin-bottom: 25px;
  position: relative;

  @media screen and (max-width: 1400px) {
    font-size: 0.8125rem;
    margin-bottom: 22px;

    .note-text {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (max-width: 767px) {
    font-size: 0.75rem;
    margin-bottom: 15px;
  }

  .ant-form-item-label {
    color: $primary;

    @media screen and (max-width: 767px) {
      padding-bottom: 3px;
    }
  }

  .custom-control,
  .intl-tel-input input[type='tel'] {
    background-color: $white;
    border-radius: 0;
    border: 1px solid #c8c9ca;
    font-size: 0.9375rem;
    padding: 14px 25px;
    width: 100%;
    color: $primary;

    input {
      font-size: 0.9375rem;
      color: $primary;

      @media screen and (max-width: 1400px) {
        font-size: 0.8125rem;
      }

      @media screen and (max-width: 767px) {
        font-size: 0.75rem;
      }
    }

    .ant-input-number-input {
      padding: 1px 0;
      height: auto;
    }

    @media screen and (max-width: 1400px) {
      padding: 8px 15px;
      font-size: 0.8125rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 0.75rem;
      padding: 5px 10px;
    }

    &::placeholder,
    input::placeholder,
    .ant-input::placeholder {
      color: $primary;
    }

    &:focus,
    input:focus {
      border-color: rgba($blueLighter, .5);
      box-shadow: none;
      outline: 0;
    }
  }

  .intl-tel-input {
    width: 100%;

    .selected-flag {
      margin-left: 0;
      padding-left: 25px;

      &:focus {
        outline: 0;
      }
    }

    &.allow-dropdown {
      .selected-flag {
        width: 80px;
      }
    }

    &.allow-dropdown {
      input[type=tel] {
        padding-left: 85px;
      }
    }

    .flag-container {
      .arrow {
        margin-left: 10px;
        margin-right: 10px;

        &.down,
        &.up {
          &:after {
            content: "";
            background-image: url(/assets/img/down-arrow.png);
            width: 18px;
            height: 11px;
            display: block;
          }
        }

        &.up {
          &:after {
            transform: rotate(180deg);
          }
        }

      }
    }
  }

  &.ant-form-item-has-error {

    .custom-control,
    .intl-tel-input input[type='tel'] {
      &:focus {
        border-color: #ff7875;
      }
    }
  }

  .ant-form-item-explain,
  .ant-form-item-split {
    font-size: 0.75rem;
    min-height: auto;
    color: #ff4d4f;
  }

  .ant-form-item-label {
    >label {
      color: $primary;

      @media screen and (max-width: 1400px) {
        font-size: 0.8125rem;
      }

      @media screen and (max-width: 767px) {
        font-size: 0.75rem;
      }

      &.ant-form-item-required:not(.ant-form-item-required-mark-optional) {
        &::before {
          content: none;
        }

        &::after {
          display: inline-block;
          margin-left: 4px;
          color: #ff4d4f;
          font-size: 0.875rem;
          font-family: SimSun, sans-serif;
          line-height: 1;
          content: '*';
        }
      }
    }
  }

}


.transbg-form {
  width: 100%;

  .custom-item {

    .intl-tel-input.allow-dropdown input[type=tel],
    .custom-control {
      background-color: transparent;
    }
  }

  .forgot-link {
    text-align: right;
    margin-bottom: 25px;

    a {
      color: $primary;
      text-decoration: underline;
    }
  }

}

.otp-timer {
  position: relative;

  .errMsg,
  .resend {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
    background: #fff;
    font-size: 0.9375rem;

    @media screen and (max-width: 1400px) {
      top: 8px;
      font-size: 0.8125rem;
    }
  }

  .errMsg {
    color: #F71111;
  }

  .resend {
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: $primary;

    &:focus {
      outline: 0;
    }
  }
}