.mainSection {
  background-color: rgba($primary, .65);
  height: 100%;
}

.layoutSection {
  @extend %gradient-bg;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    min-width: 320px;
  }
}