.custom-item {
  margin-bottom: 17px;

  .custom-control {
    background-color: $white;
    border-radius: 0;
    border: 1px solid #c8c9ca;
    font-size: 0.9375rem;
    padding: 14px 25px;

    &::placeholder {
      color: $primary;
    }
  }
}


.transbg-form{
  .custom-item{
    .custom-control{
      background-color: transparent;
    }
  }  
}