html {
  font-size: 100%;
}

body {
  background: url(/assets/img/loginbg.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9375rem;
  color: #545B64;
}

html,
body {
  overflow: hidden;
}

.app-portal {
  height: 100%;
}

h3 {
  margin: 0;
}

.ant-typography {
  &.inner-heading {
    font-size: 1.3125rem;
    font-weight: 600;
    color: $primary;
    line-height: 18px;
    position: relative;
    margin-bottom: 45px;

    &:after {
      content: '';
      height: 2px;
      width: 58px;
      position: absolute;
      background-color: $secondary;
      bottom: -15px;
      left: 0;
    }
  }
}

.ant-btn-link {
  &.ant-btn {
    line-height: 1.5715;
    padding-top: 13px;
  }
}

.ant-btn {
  border: 0;

  &-primary {
    background: $primary;
    color: #fff;
    min-width: 140px;

    &:hover,
    &:focus {
      background-color: $primaryHover;
    }
  }

  &-secondary {
    background: $secondary;
    color: $primary;
    min-width: 140px;

    &:hover,
    &:focus {
      background-color: $secondaryHover;
      color: $primary;
    }
  }

  &-default {
    background: transparent;
    border: 1px solid $primary;
    color: $primary;
    min-width: 140px;

    &:hover,
    &:focus {
      background-color: $primary;
      color: $white;
      border-color: $primary;
    }
  }

  &-lg {
    font-size: 1.125rem !important;
    padding: 22px 25px !important;

    @media screen and (max-width: 1400px) {
      font-size: 1rem !important;
      padding: 15px 25px !important;
    }
  }
}

.ant-image-img {
  @extend %img-fluid;
}


.inner-heading {
  font-size: 1.3125rem;
  font-weight: 600;
  color: $primary;
}

.sub-heading {
  font-size: 1.0625rem;
  color: $primary;
  font-weight: 600;
  margin-bottom: 20px;
}

.custom-popup {
  .ant-modal-close-x {
    background: url(/assets/img/icon-close.svg) no-repeat center;
    background-size: 20px;

    .anticon-close {
      svg {
        display: none;
      }
    }
  }

  .ant-modal-body {
    padding: 0;

    .custompopup-text {
      background: url(/assets/img/opt-bg.svg) no-repeat center bottom;
      font-size: 1.375rem;
      color: $primary;
      font-weight: 600;
      line-height: 34px;
      text-align: center;
      padding: 40px 80px 80px;
      background-size: cover;
    }

    .custom-content-holder {
      padding: 24px;
    }
  }
}

.text-popup {
  .ant-modal-body {
    .custompopup-text {
      padding: 40px 170px 80px;
      position: relative;

      &::after {
        content: "";
        background: url(/assets/img/icon-success.svg) no-repeat;
        width: 63px;
        height: 63px;
        display: block;
        bottom: -5px;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        background-size: 60px;
      }
    }

    .text-holder {
      text-align: center;
      font-size: 0.8125rem;
      padding: 20px 0 30px;

      .title {
        color: $primary;
        font-weight: 600;
        font-size: 1.125rem;
        margin-bottom: 15px;
      }

    }

  }
}

.ant-badge-count {
  background-color: $yellowDark;
}

.content-scroll {
  padding: 20px 0 20px 25px;
  height: calc(100vh - 290px);

  .rcs-custom-scroll {
    .rcs-inner-container {
      padding-right: 25px;

      @media screen and (max-width: 767px) {
        padding-right: 0;
      }
    }

    .rcs-outer-container {
      .rcs-positioning {
        right: 5px;

        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 1400px) {
    height: calc(100vh - 246px);
  }

  @media screen and (max-width: 767px) {
    padding: 15px;
  }
}

.contentNSummeryScroll {
  height: calc(100vh - 199px);

  @media screen and (max-width: 1400px) {
    height: calc(100vh - 178px);
  }

  @media screen and (max-width: 767px) {
    height: calc(100vh - 188.2px);
  }
}

.ant-row-padding {
  margin: 0 -15px;

  >.ant-col {
    padding: 0 15px;
  }
}

.ant-row-resposnive {
  >.ant-col {
    @media screen and (max-width: 767px) {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.align-center {
  text-align: center;

  .ant-form-item-split,
  .ant-form-item-explain {
    width: 100%;
    text-align: center;
  }
}

.note-text {
  text-align: center;
  color: #327BB7;
  font-weight: 600;
}

.card-holder {
  background-color: rgba($white, .72);
  @include shadow(0px 0px 12px -6px rgba(0, 0, 0, 0.75));
  margin-bottom: 25px;

  .ant-card-body {
    padding: 50px 40px 0;

    @media screen and (max-width: 1400px) {
      padding: 25px 40px 0;
    }

    .cardinfo-box {
      margin-bottom: 50px;

      @media screen and (max-width: 1400px) {
        margin-bottom: 25px;
      }
    }
  }


  .label,
  .info {
    margin: 0;
    font-size: 0.8125rem;
  }

  .label {
    margin-bottom: 10px;
  }

  .info {
    font-weight: 600;
    color: $primary;
  }

  &-single {
    .ant-card-body {
      padding: 25px 40px;

      .label {
        margin-bottom: 0;
      }

      .info {
        text-align: right;
      }
    }
  }
}

.rcs-custom-scroll {
  .rcs-outer-container {
    position: relative;


    .rcs-positioning {
      position: absolute;
      right: 0;
      height: 100%;

      .rcs-custom-scrollbar {
        opacity: 1;
        background-color: rgba($blueScroll, .37);
        padding: 0;

        .rcs-inner-handle {
          margin: 0;
          border-radius: 0;
          height: 100%;
          background-color: rgba($blueScrollBar, .62);
        }

      }
    }
  }
}

.content-scrollbar {
  height: calc(100vh - 85px);
  padding: 25px;
}

.slickArrows {
  text-align: center;

  .arrow {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #008FD6;
    border-radius: 2px;
    font-size: 0;
    width: 55px;
    height: 55px;
    margin: 0 10px;

    @media screen and (max-width: 1400px) {
      width: 40px;
      height: 40px;
    }


    &.arrow-left {
      background-image: url(/assets/img/icon-slick-left.svg);
    }

    &.arrow-right {
      background-image: url(/assets/img/icon-slick-right.svg);
    }
  }
}

.slickSlider {
  position: relative;

  .image-selection {
    width: 100%;

    @media screen and (max-width: 1400px) {
      width: 85%;

      .radio-holder {
        height: 260px;

        .ant-radio,
        .ant-radio+* {
          left: 0;
          right: 0;
        }

        .radiocontent-holder,
        .ant-radio+* {
          height: 260px;

          .ant-image {
            height: 260px
          }
        }

        .ant-radio-inner {
          width: 40px;
          height: 40px;
          margin-left: -20px;

          &::after {
            width: 10px;
            height: 22px;
            margin-top: -3px;
            margin-left: -8px;
          }
        }

        .radiocontent-holder {
          h5 {
            font-size: 1.25rem;
          }
        }

        &:hover {
          .ant-radio-inner {
            margin-left: -61px;

            &::before {
              left: 40px;
              height: 40px;
              line-height: 40px;
              width: 80px;
              padding-left: 10px;
            }
          }
        }

      }
    }

    @media screen and (max-width: 767px) {
      width: 65%;
      margin: 0 auto;
      display: block;

      .radio-holder {
        height: 200px;

        .radiocontent-holder,
        .ant-radio+* {
          height: 200px;

          .ant-image {
            height: 200px
          }
        }

        .ant-radio-inner {
          width: 40px;
          height: 40px;
          margin-left: -20px;

          &::after {
            width: 10px;
            height: 22px;
            margin-top: -3px;
            margin-left: -8px;
          }
        }

        .radiocontent-holder {
          h5 {
            font-size: 1.25rem;
          }
        }

        &:hover {
          .ant-radio-inner {
            margin-left: -61px;

            &::before {
              left: 40px;
              height: 40px;
              line-height: 40px;
              width: 80px;
              padding-left: 10px;
            }
          }
        }

      }

    }

    .radio-holder {
      width: 100%;
    }
  }

  .slick-arrow {
    display: none !important;
  }

  .slickArrows {
    position: absolute;
    bottom: -75px;
    left: 0;
    right: 0;

    @media screen and (max-width: 1400px) {
      bottom: -30px;
    }

  }

}

.loader {
  background-color: rgba(255, 255, 255, .7);
  background-image: url(/assets/img/health-loader.gif);
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.appSummary {
  background-color: #F5F5F5;
  padding: 20px 25px;
  font-size: 0.8125rem;
  @include shadow(0 6px 12px -9px rgba(0, 0, 0, .1));
  border-bottom: 1px solid rgba($gray, .1);

  @media screen and (max-width: 1400px) {
    padding: 15px 25px;
  }

  @media screen and (max-width: 767px) {
    padding: 10px 15px;
  }

  span,
  strong {
    display: block;
  }

  strong {
    font-weight: 600;
    color: $primary;
    margin-top: 10px;

    @media screen and (max-width: 1400px) {
      margin-top: 5px;
    }
  }
}

/*Responsive Styles*/

.sidebar {
  &.ant-layout-sider-has-trigger {
    padding-bottom: 0;
  }

  .ant-layout-sider-children {
    min-width: 200px;
  }

  .ant-layout-sider-trigger {
    display: none;
  }

  &.ant-layout-sider-collapsed {
    @media screen and (max-width: 767px) {
      width: 0 !important;
      flex: 0 0 0 !important;
      max-width: 0 !important;
      min-width: 0 !important;
      overflow: hidden;
    }
  }
}

.mobile-header-holder {
  display: none;

  .mobile-header {
    @extend %mbgradient-full;
    padding: 0 20px;
    position: relative;
    min-width: 320px;

    .ant-btn-mb {
      position: absolute;
      font-size: 0;
      background: url(/assets/img/icon-mobile.svg) no-repeat left center;
      background-size: 26px;
      width: 35px;
      height: 24px;
      padding: 0;
      top: 50%;
      margin-top: -12px;
      z-index: 1;
    }

    .app-link {
      width: 150px;
      text-align: center;
      margin: 0 auto;
      display: block;
    }

    .logo-holder {
      .ant-image-img {
        max-height: 45px;
      }
    }

  }

  .mobile-counter {
    background-color: rgba($blueCounterLight, .16);
    padding: 10px 15px;
    position: relative;

    .stepCounter,
    .nextStep {
      float: none;
      text-align: right;
      color: #3E3E3E;
    }

    .stepCounter {
      margin: 0;
      font-size: 0;

      .count {
        font-size: 1.125rem;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -19px;
        color: $primary;
        background-color: $white;
        border: 2px solid $blueCounterLight;
        line-height: 24px;
      }

      .text {
        font-size: 1rem;
        padding: 0;
        margin: 0;
        border: 0;
      }
    }

    .nextStep {
      padding: 0;

      .title,
      .text {
        font-size: 0.75rem;
        font-weight: 400;
        display: inline;
      }

      .title {
        &::after {
          content: " : ";
        }
      }
    }

  }

  @media screen and (max-width: 767px) {
    display: block;
  }

}

.desktop-header {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.desktop-footer {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.mobile-footer {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }

  .footer {
    padding: 10px 15px;
    justify-content: space-between;

    button {
      &:first-child {
        margin-left: 0;
      }
    }

    .ant-btn-default {
      min-width: 48px;
    }
  }

}