// Reference
// https://sass-lang.com/documentation/variables

$blue: #00448F;
$blue-light: #3E93F3;
$yellow: #F9BE2C;
$cloud: #e4eff7;

$primary: $blue;
$primaryHover: $blue-light;
$secondary: $yellow;
$primary-light: $cloud;
