.header {
  background: url(/assets/img/loginbg.png) no-repeat top right;
  height: 100px;
  overflow: hidden;
  padding: 0;
  line-height: normal;

  .headerbg {
    background-color: rgba($primary, .37);
    padding: 25px;
    height: 100px;
    color: $white;

    .counterLeft {
      float: left;
    }

    .nextStep {
      float: right;
    }
    
  }
}

.headerText {
  font-size: 25px;
  display: flex;
  font-weight: bolder;
  color: $white;
  padding-left: 20px;

  div {
    display: flex;
    align-items: center;
  }
}
