.header {
  background: url(/assets/img/loginbg.png) no-repeat top right;
  background-size: cover;
  height: 100px;
  overflow: hidden;
  padding: 0;
  line-height: normal;

  .headerbg {
    background-color: rgba($primary, .37);
    padding: 25px;
    height: 100px;
    color: $white;

    .counterLeft {
      float: left;
    }

    .nextStep {
      float: right;
    }

  }

}