.header {
  background: url(/assets/img/loginbg.png) no-repeat top right;
  background-size: cover;
  height: 100px;
  overflow: hidden;
  padding: 0;
  line-height: normal;

  .headerbg {
    background-color: rgba($primary, .37);
    padding: 25px;
    height: 100px;
    color: $white;

    .counterLeft {
      float: left;
    }

    .nextStep {
      float: right;
    }

  }
}

.headerText {
  font-size: 1.5625rem;
  display: flex;
  font-weight: bolder;
  color: $white;
  padding-left: 20px;

  div {
    display: flex;
    align-items: center;
  }
}

.appSummery {
  background-color: #F5F5F5;
  padding: 20px 50px;
  font-size: 0.8125rem;
  @include shadow(0 6px 12px -9px rgba(0, 0, 0, .1));
  border-bottom: 1px solid rgba($gray, .1);

  span,
  strong {
    display: block;
  }

  strong {
    font-weight: 600;
    color: $primary;
    margin-top: 10px;
  }
}