@import 'src/theme';

.loginpage {
  height: 100%;
  > .ant-row {
    height: 100%;
  }

  .loginbg {
    background: url(/assets/img/loginbg.png) no-repeat center;
    background-size: cover;

    .sub-heading {
      color: #fff;
      font-size: 32px;
      line-height: 45px;
      padding-left: 65px;
      padding-top: 60px;
      position: relative;

      strong {
        font-weight: 600;
        font-size: 37px;
        display: block;
      }

      &:after {
        content: '';
        width: 152px;
        height: 5px;
        position: absolute;
        background-color: #62c3fd;
        bottom: -20px;
      }
    }
  }

  .loginform {
    background-color: #fff;
    border-top-right-radius: 20px;

    .loginform-holder {
      padding: 60px 115px 0;

      .logo-holder {
        display: block;
        text-align: center;
        img {
          @extend %img-fluid;
        }
      }

      .forgot-link {
        text-align: right;
        color: $primary;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }

      .checkbox-options {
        margin: 35px 0;
      }
      .loginbtn-holder {
        .ant-btn:first-child {
          margin-right: 25px;
        }
      }
    }
  }
}
