.stepCounter {
  color: white;
  margin: 10px 0;
  padding: 10px 15px 10px 0;
  font-size: 20px;

  .counter {
    border-right: 1px solid white;
    display: inline;
    margin: 0 20px;
  }

  .count {
    background: #40a9ff;
    padding: 7px 15px;
    border-radius: 50px;
    margin: 0 20px 0 10px;
  }

  .text {
    font-size: 23px;
    font-weight: bold;
  }
}
