.custom-checbox {
  .ant-checkbox {
    .ant-checkbox-inner {
      background-color: $primarylight;
      border: 0;
      &::after {
        opacity: 1;
        -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
        transform: rotate(45deg) scale(1) translate(-50%, -50%);
        border-color: #aacad3;
        top: 50%;
        left: 50%;
      }
    }

    &.ant-checkbox-checked {
      .ant-checkbox-inner {
        background-color: $secondary;
        &::after {
          border-color: #fff;
        }
      }
    }

    + span {
      color: $primary;
    }
  }

  &.small {
    .ant-checkbox-inner {
      width: 20px;
      height: 20px;
      &::after {
        width: 6px;
        height: 11px;
        margin-left: -4px;
        margin-top: -1px;
      }
    }
  }
}
