.sidebarFooter {
  padding: 20px 30px;

  @media screen and (max-width: 1400px) {
    padding: 15px;
  }

  form,
  button {
    width: 100%;
  }


  form {
    >div {
      margin-bottom: 14px;
    }
  }

  button {
    padding: 8px 25px;

    span {
      margin-left: 15px;
      text-transform: none;
    }
  }


}