.nextStep {
  float: right;
  padding: 8px 0 8px 25px;
  border-left: 1px solid rgba($white, .5);
  font-size: 0.75rem;

  .text {
    font-size: 0.9375rem;
    font-weight: 600;
    display: block;
  }
}
