// Variables
$primary: #00448f;
$primaryHover: #3E93F3;
$secondary: #f9be2c;
$primarylight: #e4eff7;

//Extend/Inheritance
%img-fluid {
  max-width: 100%;
  width: auto;
}

// Mixins
@mixin shadow($shadow) {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}
