.custom-dropdown {
    background-color: $white;
    border: 1px solid rgba($gray, .20);
    padding: 0;

    li {
        border-bottom: 1px solid rgba($borderGray, .54);
        padding: 0;
    }

}

.ant-btn-dropown {
    border: 0;
    background-color: transparent;
    padding: 5px 12px;
    width: 100%;
    text-align: left;
    cursor: pointer;

    i {
        margin-right: 10px;
    }

    span {
        font-size: 0.6875rem;
        color: $primary;
    }

    &:focus {
        outline: 0;
    }

}