.sidebarNavigation {
  padding: 20px 0;
  border-bottom: 1px solid $cloudDark;
  height: calc(100% - 444px);

  @media screen and (max-width: 1400px) {
    padding: 15px 0;
    height: calc(100% - 384px);
  }
}